.LoginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.input {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.loginBtn {
    margin-top: 20px;
}
