.Button {
    cursor: pointer;
    border-radius: 0;
    background: none;
    color: var(--primary-color);
    padding: 5px;
    border: solid 2px teal;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    background: none;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}
