.Button {
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    border: solid 2px teal;
}

.clear {
    border: none;
    background: none;
    outline: none;
}