.app_dark_theme {
    --bg-color: #2f2f44;
    --inverted-bg-color: #46464b;
    --primary-color: #f2f7f2;
    --secondary-color: #e2dfdf;
    --inverted-primary-color: #638aff;
    --inverted-secondary-color: #0449e0;
}
