.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #0fb90f;
    --secondary-color: #5ca05c;

    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}