.app.light {
    --bg-color: #cecece;
    --inverted-bg-color: #acacc2;
    --primary-color: #001146;
    --secondary-color: #3a76f8;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}